/* Esercizio1 */



.ex-1-square{
    transition: background-color 3s ;
}

.ex-1-square:hover{
    background-color: red;
}


/* Esercizio2 */
.ex-2-square{
    transition: 5s;
}

.ex-2-square:active{
    width: 100%;
}

/* Esercizio3 */
.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
/* Esercizio4 */
.ex-4-square{
    transition: 3s;
}

.ex-4-square:hover{
    width: 100px;
    height: 100px;
    opacity: 0;
}
/* Esercizio5 */
.ex-5-square{
    transition: 3s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    
}
.ex-5-square:active{
    width: 50px;
    height: 50px;
}
/* Esercizio6 */
.ex-6-img{
    transition: 0s;
}

.ex-6-img:hover{
   filter: grayscale();
}
/* Esercizio7*/
.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: grayscale() sepia();
}
/* Esercizio8*/
.ex-8-img{
    transition: 3s;
}

.ex-8-img:hover{
    filter: grayscale() sepia();
    border-radius: 20px;
}
/* scale1.5 Esercizio9*/
.ex-9-img{
    transition: 3s;
}

.ex-9-img:hover{
    filter: grayscale() sepia();
    border-radius: 20px;
    transform: scale(1.5) ;
}
/* Esercizio10 */
.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
   0% { transform: rotate(0deg);

    } 100%{
        transform: rotate(360deg);
    }
}
/* Esercizio11 */
.ex-11-icon:hover {
    animation: spin1 1s linear infinite;
}

@keyframes spin1 {
   0% { transform: rotate(0deg);

    } 75%{
        transform: rotate(360deg);
    }
}
/* Esercizio12 */
.ex-12-button:hover .ex-12-bottom-white {
    animation-name: spin2 ;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-direction:alternate-reverse;
}


@keyframes spin2 {
    0% { 
        left: 0%;
        
     } 25%{
         
         left: 40%;
     }

    50% { 
         left: 60%;

     }

     75% { 
        left: 70%;

     }
     90% { 
        left: 75%;

     }

     
 }

 .ex-12-button:hover  .ex-12-top-white{
    animation-name: spin3 ;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-direction:alternate-reverse;
}


@keyframes spin3 {
    0% { 
        left: 0%;
        
     } 25%{
         left: 20%;
     }

    50% { 
        left: 40%;

     }

     75% { 
        left: 60% ;

     }
     90% {
        left: 70%

     }

     }

     

     
 


 /* esercizio13 */
 .ex-13-button:hover .ex-13-bottom-white {
    animation-name: move1 ;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-duration: 20s;
    animation-direction:alternate-reverse;
}


@keyframes move1 {
        

    0% { bottom: -10px;
        right: 10%;
        
     } 25%{bottom: 0%;

         right:calc(100% -200px);
     }

    50% { bottom: 0% ;
        right: 40%;

     }

     75% { bottom:-10px ;
        right: 50% ;

     }
     90% {
        bottom: -10px;
        right: 0%

     }

    100% {
        bottom: 20px;
        right: -20%

     }

     }

   

 .ex-13-button:hover  .ex-13-top-white{
    animation-name: move2 ;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-direction:alternate-reverse;
}


@keyframes move2 {
    0% { top: 30%;
        left: -20px;
        
     } 25%{
        top: 5%;
         left: -20%;
     }

    50% {
        top: 0%; 
        left: -10%;

     }

     75% { 
        top: -10px;
        left: 0% ;

     }
     90% {
        top: -10px;
        left: 70%

     }
     100% {top: 20px;
        left:180px;

     }

     }



 




